{% extends 'cars/base.html' %}

{% block title %}Блог{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>Блог</h2>

    {# Кнопка "Создать пост" #}
    <a href="{% url 'blogpost_create' %}" class="btn btn-success mb-3">Создать пост</a>

    <div class="row">
      {% for post in posts %}
        <div class="col-md-4 mb-4">
          <div class="card">
            {% if post.preview %}
              <img src="{{ post.preview.url }}" alt="{{ post.title }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content|truncatechars:100 }}</p>
              <a href="{% url 'blogpost_detail' slug=post.slug %}" class="btn btn-primary">Подробнее</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
