{% extends 'cars/base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">О нас</h1>
            <p class="lead">Добро пожаловать в Car Dealership - ваш лучший выбор для автомобилей!</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Наша миссия</h2>
            <p>Мы стремимся предоставить вам лучшие автомобили по доступным ценам. Наша команда работает над тем, чтобы
                ваш опыт покупки был приятным и удовлетворительным.</p>
        </div>
        <div class="col-md-6">
            <h2>Наши ценности</h2>
            <ul>
                <li>Прозрачность</li>
                <li>Качество</li>
                <li>Доверие</li>
                <li>Ответственность</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
