
{% extends 'cars/base.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <img class="img-fluid rounded" src="{{ car.photo.url }}" alt="{{ car.car_brand }} {{ car.model }}">
      </div>
      <div class="col-md-4">
        <h2 class="mb-3">{{ car.car_brand.name }} {{ car.model }}</h2>
        <p class="lead">Год выпуска: {{ car.year }}</p>
        <p class="lead">Цена: {{ car.price }} $</p>
        <a href="/contacts/" class="btn btn-primary mt-3">Запросить информацию</a>
      </div>
      <div class="row mt-4">

    </div>
    </div>
  </div>
{% endblock %}
