{% extends 'cars/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4"><strong><i>Car DealerShip</i></strong></h1>
        </div>
    </div>
    <div class="row mt-4">
        {% for car in cars %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ car.photo.url }}" class="card-img-top" alt="{{ car.car_brand.name }} {{ car.model }}">
                <div class="card-body">
                    <h5 class="card-title">{{ car.car_brand.name }} {{ car.model }}</h5>
                    <p class="card-text">Год выпуска: {{ car.year }}</p>
                    <p class="card-text">Цена: {{ car.price }} руб.</p>
                    <a href="{% url 'car_detail' car.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <a href="{% url 'car_create' %}" class="btn btn-primary">Добавить автомобиль</a>
        </div>
    </div>
    <div class="col-md-12 mt-4 text-center">
        <a href="{% url 'version_create' %}" class="btn btn-primary">Добавить версию</a>
    </div>
</div>
{% endblock %}
