{% extends 'cars/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">Регистрация прошла успешно</h1>
                    <p class="card-text">Теперь вы можете войти в свой аккаунт.</p>
                    <a class="btn btn-primary" href='{% url "users:login" %}'>Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
